{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title> Два Карата </title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!-- #CSS Links -->
		<!-- Basic Styles -->
		<link rel="stylesheet" type="text/css" media="screen" href="{% static "tcarats/css/bootstrap.min.css" %}">
		<link rel="stylesheet" type="text/css" media="screen" href="{% static "tcarats/css/font-awesome.min.css" %}">
		<!-- SmartAdmin Styles : Caution! DO NOT change the order -->
		<link rel="stylesheet" type="text/css" media="screen" href="{% static "tcarats/css/smartadmin-production-plugins.min.css" %}">
		<link rel="stylesheet" type="text/css" media="screen" href="{% static "tcarats/css/smartadmin-production.min.css" %}">
		<link rel="stylesheet" type="text/css" media="screen" href="{% static "tcarats/css/smartadmin-skins.min.css" %}">
		<!-- SmartAdmin RTL Support -->
		<link rel="stylesheet" type="text/css" media="screen" href="{% static "tcarats/css/smartadmin-rtl.min.css" %}">
		<!-- #GOOGLE FONT -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
	</head>

	<!--

	TABLE OF CONTENTS.
	
	Use search to find needed section.
	
	===================================================================
	
	|  01. #CSS Links                |  all CSS links and file paths  |
	|  02. #FAVICONS                 |  Favicon links and file paths  |
	|  03. #GOOGLE FONT              |  Google font link              |
	|  04. #APP SCREEN / ICONS       |  app icons, screen backdrops   |
	|  05. #BODY                     |  body tag                      |
	|  06. #HEADER                   |  header tag                    |
	|  07. #PROJECTS                 |  project lists                 |
	|  08. #TOGGLE LAYOUT BUTTONS    |  layout buttons and actions    |
	|  09. #MOBILE                   |  mobile view dropdown          |
	|  10. #SEARCH                   |  search field                  |
	|  11. #NAVIGATION               |  left panel & navigation       |
	|  12. #MAIN PANEL               |  main panel                    |
	|  13. #MAIN CONTENT             |  content holder                |
	|  14. #PAGE FOOTER              |  page footer                   |
	|  15. #SHORTCUT AREA            |  dropdown shortcuts area       |
	|  16. #PLUGINS                  |  all scripts and plugins       |
	
	===================================================================
	
	-->
	
	<!-- #BODY -->
	<body class="menu-on-top fixed-page-footer fixed-header fixed-navigation">
		<!-- #HEADER -->
		<header id="header">
			<div id="logo-group">
				<!-- PLACE YOUR LOGO HERE -->
				<span id="logo"> <img src="{% static "tcarats/img/logo.png" %}" alt="Два карата"> </span>
				<!-- END LOGO PLACEHOLDER -->

			</div>
			<!-- #PROJECTS: projects dropdown -->
			<div class="project-context hidden-xs">
				<span class="label">Ломбард:</span>
				<span class="project-selector dropdown-toggle" data-toggle="dropdown">Ломбард "Два карата"
                    <i class="fa fa-angle-down"></i></span>
			</div>
			<!-- end projects dropdown -->

			<!-- #TOGGLE LAYOUT BUTTONS -->
			<!-- pulled right: nav area -->
			<div class="pull-right">
				
				<!-- collapse menu button -->
				<div id="hide-menu" class="btn-header pull-right">
					<span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
				</div>
				<!-- end collapse menu -->
				
				<!-- #MOBILE -->
				<!-- Top menu profile link : this shows only when top menu is active -->
				<ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
					<li class="">
						<a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown"> 
							<img src="{% static "tcarats/img/avatars/sunny.png" %}" alt="John Doe" class="online" />
						</a>
						<ul class="dropdown-menu pull-right">
							<li>
								<a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"><i class="fa fa-cog"></i> Setting</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="profile.html" class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-user"></i> <u>P</u>rofile</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="toggleShortcut"><i class="fa fa-arrow-down"></i> <u>S</u>hortcut</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i> Full <u>S</u>creen</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="login.html" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout"><i class="fa fa-sign-out fa-lg"></i> <strong><u>L</u>ogout</strong></a>
							</li>
						</ul>
					</li>
				</ul>

				<!-- logout button -->
				<div id="logout" class="btn-header transparent pull-right">
					<span> <a href="login.html" title="Sign Out" data-action="userLogout" data-logout-msg="You can improve your security further after logging out by closing this opened browser"><i class="fa fa-sign-out"></i></a> </span>
				</div>
				<!-- end logout button -->

				<!-- search mobile button (this is hidden till mobile view port) -->
				<div id="search-mobile" class="btn-header transparent pull-right">
					<span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
				</div>
				<!-- end search mobile button -->
				
{#				<!-- #SEARCH -->#}
{#				<!-- input: search field -->#}
{#				<form action="search.html" class="header-search pull-right">#}
{#					<input id="search-fld" type="text" name="param" placeholder="Find reports and more">#}
{#					<button type="submit">#}
{#						<i class="fa fa-search"></i>#}
{#					</button>#}
{#					<a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>#}
{#				</form>#}
				<!-- end input: search field -->

				<!-- fullscreen button -->
				<div id="fullscreen" class="btn-header transparent pull-right">
					<span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
				</div>
				<!-- end fullscreen button -->
				
{#				<!-- #Voice Command: Start Speech -->#}
{#				<div id="speech-btn" class="btn-header transparent pull-right hidden-sm hidden-xs">#}
{#					<div> #}
{#						<a href="javascript:void(0)" title="Voice Command" data-action="voiceCommand"><i class="fa fa-microphone"></i></a> #}
{#						<div class="popover bottom"><div class="arrow"></div>#}
{#							<div class="popover-content">#}
{#								<h4 class="vc-title">Voice command activated <br><small>Please speak clearly into the mic</small></h4>#}
{#								<h4 class="vc-title-error text-center">#}
{#									<i class="fa fa-microphone-slash"></i> Voice command failed#}
{#									<br><small class="txt-color-red">Must <strong>"Allow"</strong> Microphone</small>#}
{#									<br><small class="txt-color-red">Must have <strong>Internet Connection</strong></small>#}
{#								</h4>#}
{#								<a href="javascript:void(0);" class="btn btn-success" onclick="commands.help()">See Commands</a> #}
{#								<a href="javascript:void(0);" class="btn bg-color-purple txt-color-white" onclick="$('#speech-btn .popover').fadeOut(50);">Close Popup</a> #}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
{#				<!-- end voice command -->#}
			</div>
			<!-- end pulled right: nav area -->

		</header>
		<!-- END HEADER -->
		<!-- #NAVIGATION -->
		<!-- Left panel : Navigation area -->
		<!-- Note: This width of the aside area can be adjusted through LESS variables -->
		<aside id="left-panel">
			<!-- User info -->
			<div class="login-info"></div>
			<!-- end user info -->
			<nav>
				<ul>
                    <li name="pledgors">
                        <a href="{% url 'pledgor_list' %} ">
                            <i class="fa fa-lg fa-fw fa-male"></i>
                            <span class="menu-item-parent">Клиенты</span>
                        </a>
                    </li>
                    <li name="tickets">
                        <a href="{% url 'ticket_list' %}">
                            <i class="fa fa-lg fa-fw fa-briefcase"></i>
                            <span class="menu-item-parent">З.Билеты</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-lg fa-fw fa-folder"></i>
                            <span class="menu-item-parent">Справочники</span>
                            <b class="collapse-sign">
                                <em class="fa fa-plus-square-o"></em>
                            </b>
                        </a>
                        <ul>
                            <li>
                                <a href="#">Залоговые вещи</a>
                            </li>
                            <li>
                                <a href="#">Виды залогов</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-lg fa-fw fa-book"></i>
                            <span class="menu-item-parent">Журнал</span>
                            <b class="collapse-sign">
                                <em class="fa fa-plus-square-o"></em>
                            </b>
                        </a>
                        <ul>
                            <li>
                                <a href="#">Общий журнал</a>
                            </li>
                            <li>
                                <a href="#">Журнал операция по залогам</a>
                            </li>
                            <li>
                                <a href="#">Журнал кассовых операций</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-lg fa-fw fa-eye"></i>
                            <span class="menu-item-parent">Отчеты</span>
                            <b class="collapse-sign">
                                <em class="fa fa-plus-square-o"></em>
                            </b>
                        </a>
                        <ul>
                            <li>
                                <a href="#">Операции по ЗБ</a>
                            </li>
                            <li>
                                <a href="#">История залогодателя</a>
                            </li>
                            <li>
                                <a href="#">История залогового билета</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-lg fa-fw fa-cog"></i>
                            <span class="menu-item-parent">Настройки</span>
                            <b class="collapse-sign">
                                <em class="fa fa-plus-square-o"></em>
                            </b>
                        </a>
                        <ul>
                            <li>
                                <a href="#">Схемы кредитования</a>
                            </li>
                        </ul>
                    </li>
				</ul>
			</nav>
			<span class="minifyme" data-action="minifyMenu"> 
				<i class="fa fa-arrow-circle-left hit"></i> 
			</span>
		</aside>
		<!-- END NAVIGATION -->
		<!-- MAIN PANEL -->
		<div id="main" role="main">
			<!-- RIBBON -->
			<div id="ribbon">
			</div>
			<!-- END RIBBON -->
			<!-- MAIN CONTENT -->
			<div id="content">
                {% block content %}
                {% endblock %}
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN PANEL -->
		<!-- PAGE FOOTER -->
		<div class="page-footer">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<span class="txt-color-white">Ломбард <span class="hidden-xs"> - Web Application  © 2018</span></span>
				</div>
			</div>
		</div>
		<!-- END PAGE FOOTER -->
		<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
		<script data-pace-options='{ "restartOnRequestAfter": true }' src="{% static "tcarats/js/plugin/pace/pace.min.js" %}"></script>

        <script src="{% static "tcarats/js/require.js" %}"></script>
        <script src="{% static "tcarats/js/app/require.config.js" %}"></script>
        {% block scripts %}
        {% endblock %}
	</body>

</html>