{% load static %}
<!DOCTYPE html>
<html id="extr-page">
	<head>
		<meta charset="utf-8">
		<title> Два карата</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="description" content="Облачный инструмент для автоматизации деятельности ломбардов.">
		<!-- #CSS Links -->
		<!-- Basic Styles -->
		<link rel="stylesheet" type="text/css" media="screen" href="{% static "tcarats/css/bootstrap.min.css" %}">
		<link rel="stylesheet" type="text/css" media="screen" href="{% static "tcarats/css/font-awesome.min.css" %}">
		<!-- SmartAdmin Styles : Caution! DO NOT change the order -->
		<link rel="stylesheet" type="text/css" media="screen" href="{% static "tcarats/css/smartadmin-production-plugins.min.css" %}">
		<link rel="stylesheet" type="text/css" media="screen" href="{% static "tcarats/css/smartadmin-production.min.css" %}">
		<link rel="stylesheet" type="text/css" media="screen" href="{% static "tcarats/css/smartadmin-skins.min.css" %}">
		<!-- SmartAdmin RTL Support -->
		<link rel="stylesheet" type="text/css" media="screen" href="{% static "tcarats/css/smartadmin-rtl.min.css" %}">
		<!-- #GOOGLE FONT -->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
	</head>

	<body class="animated fadeInDown">
		<header id="header">
			<div id="logo-group">
				<span id="logo"> <img src="{% static 'tcarats/img/logo.png' %}" alt="Два карата"> </span>
			</div>
		</header>
		<div id="main" role="main">
			<!-- MAIN CONTENT -->
			<div id="content" class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
						<h1 class="txt-color-red login-header-big">Два карата</h1>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
						<div class="well no-padding">
							<form action="" method="post" id="login-form" class="smart-form client-form">{% csrf_token %}
                                {% for error in form.non_field_errors  %}
                                    <div class="alert alert-danger fade in">
                                        <button class="close" data-dismiss="alert">×</button><i class="fa-fw fa fa-times"></i>
                                        <strong>Ошибка!</strong> {{ error }}
                                    </div>
                                {% endfor %}
								<header>
									Войти
								</header>
								<fieldset>
									<section>
										<label class="label">Login</label>
										<label class="input"> <i class="icon-append fa fa-user"></i>
											<input type="text" name="username">
											<b class="tooltip tooltip-top-right">
                                                <i class="fa fa-user txt-color-teal"></i> Введите ваш логин</b></label>
									</section>
									<section>
										<label class="label">Пароль</label>
										<label class="input"> <i class="icon-append fa fa-lock"></i>
											<input type="password" name="password">
											<b class="tooltip tooltip-top-right">
                                                <i class="fa fa-lock txt-color-teal"></i> Введите ваш пароль</b> </label>
									</section>
								</fieldset>
								<footer>
									<button type="submit" class="btn btn-primary">
										Войти
									</button>
								</footer>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--================================================== -->

		<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
		<script src="{% static  'tcarats/js/plugin/pace/pace.min.js' %}"></script>

        <script src="{% static  'tcarats/js/libs/jquery-2.1.1.min.js' %}"></script>
        <script src="{% static  'tcarats/js/libs/jquery-ui-1.10.3.min.js' %}"></script>

		<!-- IMPORTANT: APP CONFIG -->
		<script src="{% static 'tcarats/js/app.config.js' %}"></script>

		<!-- JS TOUCH : include this plugin for mobile drag / drop touch events
		<script src="js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->

		<!-- BOOTSTRAP JS -->
		<script src="{% static 'tcarats/js/bootstrap/bootstrap.min.js' %}"></script>

		<!-- JQUERY VALIDATE -->
		<script src="{%  static 'tcarats/js/plugin/jquery-validate/jquery.validate.min.js' %}"></script>

		<!-- JQUERY MASKED INPUT -->
		<script src="{% static 'tcarats/js/plugin/masked-input/jquery.maskedinput.min.js' %}"></script>

		<!--[if IE 8]>

			<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

		<![endif]-->

		<!-- MAIN APP JS FILE -->
		<script src="{% static 'tcarats/js/app.min.js' %}"></script>

		<script type="text/javascript">
			runAllForms();

			$(function() {
				// Validation
				$("#login-form").validate({
					// Rules for form validation
					rules : {
						username : {
							required : true
						},
						password : {
							required : true,
							minlength : 3,
							maxlength : 20
						}
					},

					// Messages for form validation
					messages : {
						username : {
							required : 'Введите ваш логин'

						},
						password : {
							required : 'Введите ваш пароль'
						}
					},

					// Do not change code below
					errorPlacement : function(error, element) {
						error.insertAfter(element.parent());
					}
				});
			});
		</script>
	</body>
</html>