{% extends "tcarats/base.html" %}
{% load static %}


{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4" name="label">
        </div>
    </div>
    <div class="row" name="control"></div>
    <div class="row" name="row-data"></div>
    <div class="row" name="row-data-addition"></div>
{% endblock %}

{% block  scripts %}
    <script type="text/template" id="label">
        <i class="fa-fw fa fa-male"></i> <a href="#/">Залогодатели</a>
        <% if (name)  { %>
            <span>&gt; <%= name %>  </span>
        <% } %>
        <% if (add)  { %>
            <span>&gt; Создание  </span>
        <% } %>

    </script>
    <script type="text/template" id="pledgor-item">
        <td>
            <h4>
                <a href="#/<%= id %>"><%= name %></a>
                <small>
                    <em><%= ID_serial %> <%= ID_number %> от <%= ID_date %> <%= ID_state %></em>
                </small>
            </h4>
        </td>
        <td class="hidden-xs hidden-sm">
            <h4><%= phone %>
                <small>
                    <em><%= address %></em>
                </small>
            </h4>
        </td>
    </script>
    <script type="text/template" id="pledgor-item-empty">
        <td colspan="2">
            <h4>
                Данные отсутствуют
                <small>
                    <em>или не найдены</em>
                </small>
            </h4>
        </td>

    </script>
    <script type="text/template" id="control-collection">
        <div class="col-sm-4">
            <div class="well">
                <div class="input-group">
                    <input class="form-control" type="text" name="search" placeholder="Поиск...">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button" name="search">
                            <i class="fa fa-search"></i> Поиск
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 text-align-right">
            <div class="btn-group">
                <a class="btn btn-sm btn-success" name="create" href="#/add">
                    <i class="fa fa-plus"></i> Создать
                </a>
            </div>
        </div>
    </script>
    <script type="text/template" id="pledgor-control-model">
        <div class="col-sm-offset-4 col-sm-8 text-align-right">
            <div class="btn-group">
                <a class="btn btn-sm btn-success" name="create" href="javascript:void(0)">
                    <i class="fa fa-edit"></i> Изменить
                </a>
            </div>
        </div>
    </script>
    <script type="text/template" id="control-model-add">
        <div class="col-sm-offset-4 col-sm-8 text-align-right">
            <div class="btn-group">
                <a class="btn btn-sm btn-success" name="create" href="javascript:void(0)">
                    <i class="fa fa-edit"></i> Сохранить
                </a>
            </div>
        </div>
    </script>
    <script type="text/template" id="pledgor-info-addition">
        <ul id="myTab1" class="nav nav-tabs bordered">
            <li class="active">
                <a href="#s1" data-toggle="tab">История залогодателя</a>
            </li>
            <li>
                <a href="#s2" data-toggle="tab">Залоговые билеты</a>
            </li>
            <li>
                <a href="#s3" data-toggle="tab">Договоры</a>
            </li>
        </ul>
        <div id="myTabContent1" class="tab-content bg-color-white padding-10">
            <div class="tab-pane fade in active" id="s1">
                <h1>Бла Бла</h1>
            </div>
            <div class="tab-pane fade" id="s2">
                <h1>Бла Бла</h1>
            </div>
            <div class="tab-pane fade" id="s3">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Наименования</th>
                                <th>Дата заключение</th>
                                <th>Дата исполн. обязательств</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </script>
    <script type="text/template" id="pledgor-info">
        <div class="well">
            <form class="smart-form">
                <fieldset>
                    <div class="row">
                        <section class="col col-6">
                            <label class="label">ФИО</label>
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                <h4><%= name %></h4>
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Дата рождения</label>
                            <label class="input">
                                <i class="icon-append fa fa-child"></i>
                                <h4><%= birthdate %></h4>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-12">
                            <label class="label">Паспорт</label>
                            <label class="input">
                                <h4>серия <%= ID_serial %> № <%= ID_number %> от <%= ID_date %> выдан <%= ID_state %> </h4>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label class="label">Регистрация</label>
                            <label class="input">
                                <i class="icon-append fa fa-home"></i>
                                <h4><%= address %></h4>
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Факт. проживание</label>
                            <label class="input">
                                <i class="icon-append fa fa-key"></i>
                                <h4><%= post_address %></h4>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label class="label">Телефон</label>
                            <label class="input">
                                <i class="icon-append fa fa-phone"></i>
                                <h4><%= phone %></h4>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label class="label">ИНН</label>
                            <label class="input">
                                <h4><%= inn %></h4>
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Дисконтная карта</label>
                            <label class="input">
                                <h4><%= discont_card %></h4>
                            </label>
                        </section>
                    </div>

                </fieldset>
                <footer>
                    <button type="button" class="btn btn-primary">
                        Анкета
                    </button>
                </footer>
            </form>
        </div>
    </script>
    <script type="text/template" id="pledgor-collection">
        <div class="well">
            <table class="table table-striped table-forum">
                <thead>
                    <tr>
                        <th> ФИО</th>
                        <th class="hidden-xs hidden-sm" style="width: 300px;">
                            Контактные данные
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="text-center" name="paginator"></div>
        </div>
    </script>

    <script src="{% static "tcarats/js/app/pledgors/app.js" %}"></script>
{% endblock %}
