{% extends "tcarats/base.html" %}
{% load static %}


{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4" name="label"></div>
    </div>
    <div class="row" name="control"></div>
    <div class="row" name="row-data"></div>
{% endblock %}

{% block  scripts %}
    <script type="text/template" id="label">
        <i class="fa-fw fa fa-briefcase"></i> <a href="#/">Залоговые билеты</a>
{#        <% if (erp_code)  { %>#}
{#            <span>&gt; <%= erp_code %>  </span>#}
{#        <% } %>#}
        <% if (add)  { %>
            <span>&gt; Создание  </span>
        <% } %>

    </script>
    <script type="text/template" id="control-collection">
        <div class="col-sm-4">
            <div class="well">
                <div class="input-group">
                    <input class="form-control" type="text" name="search" placeholder="Поиск...">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button" name="search">
                            <i class="fa fa-search"></i> Поиск
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 text-align-right">
            <div class="btn-group">
                <a class="btn btn-sm btn-success" name="create" href="#/add">
                    <i class="fa fa-plus"></i> Создать
                </a>
            </div>
        </div>
    </script>
    <script type="text/template" id="control-model-add">
        <div class="col-sm-offset-4 col-sm-8 text-align-right">
            <div class="btn-group">
                <a class="btn btn-sm btn-success" name="create" href="javascript:void(0)">
                    <i class="fa fa-edit"></i> Сохранить
                </a>
            </div>
        </div>
    </script>
    <script type="text/template" id="ticket-collection">
        <div class="well">
            <table class="table table-striped table-forum">
                <thead>
                    <tr>
                        <th>Залоговые билеты</th>
                        <th class="hidden-xs hidden-sm">
                            Залогодатель
                        </th>
                        <th class="hidden-xs hidden-sm">
                            Сроки
                        </th>
                        <th class="hidden-xs hidden-sm">
                            Сумма
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="text-center" name="paginator"></div>
        </div>
    </script>
    <script type="text/template" id="ticket-item">
        <td>
            <h4>
                <a href="#/<%= id %>"><%= serial %> <%= erp_code %></a>
                <small>
                    <em><%= contract__name %></em>
                </small>
            </h4>
        </td>
        <td class="hidden-xs hidden-sm">
            <h4>
                <a href="/#/<%= pledgor_id %>"><%= pledgor__name %> </a>
            </h4>
        </td>
        <td class="hidden-xs hidden-sm">
            Дата залога: <%= date_in %><br>
            <small>
                <em>Дата выкупа: <%= date_out %></em>
            </small>
        </td>
        <td class="hidden-xs hidden-sm">
            <h4><%= sum %></h4>
        </td>
    </script>
    <script type="text/template" id="ticket-item-empty">
        <td colspan="2">
            <h4>
                Данные отсутствуют
                <small>
                    <em>или не найдены</em>
                </small>
            </h4>
        </td>

    </script>

    <script src="{% static "tcarats/js/app/tickets/app.js" %}"></script>
{% endblock %}
